* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-icon {
  font-size: 50px;
  padding-bottom: 23px;
  padding-left: 40%;
}

.font-icon-midias {
  font-size: 50px;
  display: flex;
  gap: 100px;
  text-align: center;
}

/* .img-style {
  background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)) url(../assets/imgs/Programming-amico.png);
} */

/* header */
header img {
  margin-top: 159px;
  border-radius: 50%;
  background-color: #000000;
  width: 250px;
}

.box-header {
  background-color: #22272e;
  color: #fff;
  width: 100%;
  height: 100px;
  padding-left: 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  padding-right: 150px;
}

.flex li {
  margin: 20px;
  list-style: none;
  font-size: 18px;
}

li a {
  text-decoration: none;
  color: #51565e;
  font-weight: bold;
  text-transform: uppercase;
  transition: 2, s ease-in;
  position: relative;
  padding: 5px;
}

.flex a:before {
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 2px;
  background-color: #7e57c2;
  transition: all 1.5s ease;
}

.flex a:hover:before {
  width: 100%;
}

.flex li a:hover {
  color: #0c1215;
}

/* section 1 */
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 550px;
  background-color: #0c1215;
}

.bg {
  justify-content: center;
  align-items: center;
}

.bg img {
  width: 400px;
  padding-left: 60px;
}

.content {
  color: #51565e;
  width: 450px;
}

.h1-padding {
  padding-bottom: 25px;
}

/* conteudo 2 */
.section2 {
  width: 100%;
  height: 332px;
  color: #51565e;
  background-color: #000000;
  font-size: 18px;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.box {
  width: 359px;
  height: 212px;
  margin-left: 20px;
}

/* footer */
.footer {
  padding-top: 20px;
  width: 100%;
  height: 230px;
  background-color: #000000;
  color: #51565e;
  font-size: 16px;
  text-align: center;
  display: block;
}

.footer img {
  width: 180px;
}

/* icons color */
.cor1 {
  color: #388bfd;
}

.cor2 {
  color: #ff4500;
}

.cor3 {
  color: #ffff00;
}

.cor4 {
  color: #ffffff;
}

.cor5 {
  color: #139ff8;
}

.cor6 {
  color: #039f7e;
}

.cor7 {
  color: #d51f83;
  /* color: linear-gradient(
    rgba(102, 79, 198, 1),
    rgba(232, 75, 89, 1),
    rgba(247, 187, 79, 1)
  ); */
}

/* fonts */
.font-p {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 18px;
}

.font-h {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}

/* PROJETOS */
.d-block {
  display: block;
  padding: 20px 0 0px 350px;
}

.txt {
  color: #51565e;
  padding: 20px 20px 0 20px;
  font-family: "Oswald", sans-serif;
}

.box-projetos {
  width: 1100px;
  height: 450px;
  display: flex;
  /* border: 2px solid #51565e; */
  border-radius: 10px;
  justify-content: space-between;
}

.text-center {
  display: block;
  justify-content: center;
  align-items: center;
}

.img-projetos {
  width: 300px;
  align-items: center;
  border: 2px solid #51565e;
  border-radius: 10px;
  margin-top: 15px;
}

.fontS40 {
  font-size: 40px;
  padding-left: 35%;
  /* margin-bottom: 80px; */
}

/* contato */
.bg-gray {
  background-color: #0c1215;
  margin: 0;
}

/* cursor */
.cursor {
  position: relative;
  line-height: 24px;
  min-width: 360px;
}

.cursor::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  background-color: #51565e;
  vertical-align: top;
  width: 5px;
  height: 30px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
